<div class="convertible-menu-panel">
  <div>
    <p>logo comes here</p>
    <mat-icon aria-label="Open menu">menu</mat-icon>
  </div>
  <div>
    <app-menu-bar></app-menu-bar>
  </div>
</div>
<div class="content-side-panel">
  <div>
    <div class="head-panel">
      <h1>TEDPIT</h1><span class="subtitle">(The Eternal Debate PIT)</span>
    </div>
    <hr>
    <div>
      <app-topic-suggestions></app-topic-suggestions>
    </div>
  </div>
  <div class="content">
    <app-topics-summary-page></app-topics-summary-page>
  </div>
</div>
